<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe vs. AI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>TicTacToe Board Page</h1>

    <form action="">
        <table>
            <tr>
                <td>
                    <!-- Spot 0 -->

                </td>
                <td>
                    <!-- Spot 1 -->
                    
                </td>
                <td>
                    <!-- Spot 2 -->
                    
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Spot 3 -->
                </td>
                <td>
                    <!-- Spot 4 -->
                </td>
                <td>
                    <!-- Spot 5 -->
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Spot 6 -->
                </td>
                <td>
                    <!-- Spot 7 -->
                </td>
                <td>
                    <!-- Spot 8 -->
                </td>
            </tr>
        </table>
    </form>

</body>
</html>